@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

:root{
    --cor-nao-metais: #A0D345;
    --cor-metais-alcalino-terrosos: #EADA00;
    --cor-outros-metais: #A1C7D3;
    --cor-actinidios: #DCADD5;
    --cor-gases-nobres: #3E9EE3;
    --cor-semimetais: #4DB6AC;
    --cor-metais-de-transiçao: #EB8E8E;
    --cor-metais-alcalinos: #F0B200;
    --cor-halogenios: #70CBEB;
    --cor-lantanideos: #90E3E9;

    --cor-titulo-nao-metais: #496120;
    --cor-titulo-metais-alcalino-terrosos: #615A00;
    --cor-titulo-outros-metais: #7A98A1;
    --cor-titulo-actinidios: #C79DC1;
    --cor-titulo-gases-nobres: #3993D4;
    --cor-titulo-semimetais: #2C6962;
    --cor-titulo-metais-de-transiçao: #9C5D5D;
    --cor-titulo-metais-alcalinos: #735600;
    --cor-titulo-halogenios: #366170;
    --cor-titulo-lantanideos: #246B70;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

main{
    background-color: white;
    height: 100vh;
    margin: auto;
}

main > h1, p{
    text-align: center;
}

#tabela{
    margin: auto;
    width: 1000px;
}

p#introducao{
    padding-top: 1.3em;
}

div#moldura-tabela{    
    display: block;
    margin: auto;
    
    height: 600px;
    width: 1080px;

}

th{
    background-color: lightgray;
    
}

th.vazio{
    background-color: white;
}

td.elemento{
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
    width: 50px;
    height: 50px;
}

td.elemento:hover{
    background-color: pink;
}

td.elemento > h1{
    text-align: center;
    padding: 5px;
}

p.texto-rotacionado{
    transform: rotate(-90deg);
}

.numero-atomico{
    text-align: left;
    font-size: .7em;
}

.simbolo-quimico{
    text-align: center;
    font-size: 1em;
}

.elemento{
    width: 10px;
    height: 10px;
}

.moldura-iframe{
    width: fit-content;
    border: 1px solid black;
}

.nao-metal{
    background-color: var(--cor-nao-metais);
    border: 1px solid var(--cor-titulo-nao-metais);
}

.metal-alcalino-terroso{
    background-color: var(--cor-metais-alcalino-terrosos);
    border: 1px solid var(--cor-titulo-metais-alcalino-terrosos);
}

.outros-metais{
    background-color: var(--cor-outros-metais);
    border: 1px solid var(--cor-titulo-outros-metais);
}

.actinidios{
    background-color: var(--cor-actinidios);
    border: 1px solid var(--cor-titulo-actinidios);
}

.gases-nobres{
    background-color: var(--cor-gases-nobres);
    border: 1px solid var(--cor-titulo-gases-nobres);
}

.semimetais{
    background-color: var(--cor-semimetais);
    border: 1px solid var(--cor-titulo-semimetais);
}

.metais-de-tansicao{
    background-color: var(--cor-metais-de-transiçao);
    border: 1px solid var(--cor-titulo-metais-de-transiçao);
}

.metais-alcalinos{
    background-color: var(--cor-metais-alcalinos);
    border: 1px solid var(--cor-titulo-metais-alcalinos);
}

.halogenios{
    background-color: var(--cor-halogenios);
    border: 1px solid var(--cor-titulo-halogenios);
}